# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# IDEs
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Database
*.sqlite3
*.db

# Migrations (optional if you want to keep)
#migrations/

# Other folders
node_modules/
dist/