fastapi
starlette
sqlalchemy
pydantic
pydantic[email]
minio
psycopg2-binary
uvicorn[standard]
python-multipart
apscheduler
alembic
uvicorn
sqlalchemy
psycopg2
minio
python-multipart
email-validator
pandas
python-docx